server:
  port: 0003
  servlet:
    context-path: /api/mail
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/<db>
    password: <password>
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
